<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>报名信息</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/assets/materialize/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/assets/js/Lightweight-Chart/cssCharts.css}" rel="stylesheet">
    <style>
        tr {
            text-align: center;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <div th:include="web-model::top"></div>

    <div th:include="web-model::left"></div>

    <div id="page-wrapper">
        <div class="header">
            <h4 class="page-header" style="text-align: center">报名信息</h4>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-action"></div>
                        <div class="card-content">
                            <div class="container">
                                <div class="col-md-6" style="margin-left: 40%">
                                    <h3 style="text-align: left;color: green;margin-left: -40px">项目概览：</h3>
                                    <h4 style="text-align: left">项目编号：<span th:text="${report.worksNo}"></span></h4>
                                    <h4 style="text-align: left">项目名称：<span th:text="${report.worksName}"></span><input type="hidden" id="worksName" class="validate" ></h4>
                                    <h4 style="text-align: left">项目状态：<span th:text="${report.reportStatus}"></span><input disabled type="hidden" id="reportStatus" class="validate"></h4>
                                    <h4 style="text-align: left">申请时间：<span th:text="${#dates.format(report.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span><input disabled type="hidden" id="createTime" class="validate"></h4>
                                    <h4 style="text-align: left">更新时间：<span th:text="${#dates.format(report.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></span><input disabled type="hidden" id="updateTime" class="validate"></h4>
                                    <h3 style="text-align: left;color: green;margin-left: -40px">指导老师:</h3>
                                    <h4 style="text-align: left">姓&emsp;名：<span th:text="${report.teacherName}"></span><input type="hidden" id="teacherName" class="validate"></h4>
                                    <h4 style="text-align: left">院&emsp;系：<span th:text="${report.teacherDepartment}"></span><input type="hidden" id="teacherDepartment" class="validate"></h4>
                                    <h4 style="text-align: left">手机号：<span th:text="${report.teacherPhone}"></span><input type="hidden" id="teacherPhone" class="validate"></h4>
                                    <h4 style="text-align: left">邮&emsp;箱：<span th:text="${report.teacherEmail}"></span><input type="hidden" id="teacherEmail" class="validate"></h4>
                                    <h4 style="text-align: left">Q&emsp;&ensp;Q： <span th:text="${report.teacherQq}"></span><input type="hidden" id="teacherQq" class="validate"></h4>
                                    <h3 style="text-align: left;color: green;margin-left: -40px">项目负责人:</h3>
                                    <h4 style="text-align: left">学&emsp;号：<span th:text="${report.mainStudentNo}"></span><input type="hidden" id="mainStudentNo" class="validate"></h4>
                                    <h4 style="text-align: left">姓&emsp;名：<span th:text="${report.mainStudentName}"></span><input type="hidden" id="mainStudentName" class="validate"></h4>
                                    <h4 style="text-align: left">年&emsp;级：<span th:text="${report.mainStudentGrade}"></span><input type="hidden" id="mainStudentGrade" class="validate"></h4>
                                    <h4 style="text-align: left">专&emsp;业：<span th:text="${report.mainStudentSpecialty}"></span><input type="hidden" id="mainStudentSpecialty" class="validate"></h4>
                                    <h4 style="text-align: left">院&emsp;系：<span th:text="${report.mainStudentDepartment}"></span><input type="hidden" id="mainStudentDepartment" class="validate"></h4>
                                    <h4 style="text-align: left">手机号：<span th:text="${report.mainStudentPhone}"></span><input type="hidden" id="mainStudentPhone" class="validate"></h4>
                                    <h4 style="text-align: left">邮&emsp;箱：<span th:text="${report.mainStudentEmail}"></span><input type="hidden" id="mainStudentEmail" class="validate"></h4>
                                    <h4 style="text-align: left">Q&emsp;&ensp;Q： <span th:text="${report.mainStudentQq}"></span><input type="hidden" id="mainStudentQq" class="validate"></h4>
                                    <h3 style="text-align: left;color: green;margin-left: -40px">学生成员:</h3>
                                    <h4 style="text-align: left">学&emsp;号：<span th:text="${report.oneStudentNo}"></span><input type="hidden" id="oneStudentNo" class="validate"></h4>
                                    <h4 style="text-align: left">姓&emsp;名：<span th:text="${report.oneStudentName}"></span><input type="hidden" id="oneStudentName" class="validate"></h4>
                                    <h4 style="text-align: left">年&emsp;级：<span th:text="${report.oneStudentGrade}"></span><input type="hidden" id="oneStudentGrade" class="validate"></h4>
                                    <h4 style="text-align: left">专&emsp;业：<span th:text="${report.oneStudentSpecialty}"></span><input type="hidden" id="oneStudentSpecialty" class="validate"></h4>
                                    <h4 style="text-align: left">院&emsp;系：<span th:text="${report.oneStudentDepartment}"></span><input type="hidden" id="oneStudentDepartment" class="validate"></h4>
                                    <h4 style="text-align: left">手机号：<span th:text="${report.oneStudentPhone}"></span><input type="hidden" id="oneStudentPhone" class="validate"></h4>
                                    <h4 style="text-align: left">邮&emsp;箱：<span th:text="${report.oneStudentEmail}"></span><input type="hidden" id="oneStudentEmail" class="validate"></h4>
                                    <h4 style="text-align: left">Q&emsp;&ensp;Q： <span th:text="${report.oneStudentQq}"></span><input type="hidden" id="oneStudentQq" class="validate"></h4>
                                    <h3 style="text-align: left;color: green;margin-left: -40px">学生成员:</h3>
                                    <h4 style="text-align: left">学&emsp;号：<span th:text="${report.twoStudentNo}"></span><input type="hidden" id="twoStudentNo" class="validate"></h4>
                                    <h4 style="text-align: left">姓&emsp;名：<span th:text="${report.twoStudentName}"></span><input type="hidden" id="twoStudentName" class="validate"></h4>
                                    <h4 style="text-align: left">年&emsp;级：<span th:text="${report.twoStudentGrade}"></span><input type="hidden" id="twoStudentGrade" class="validate"></h4>
                                    <h4 style="text-align: left">专&emsp;业：<span th:text="${report.twoStudentSpecialty}"></span><input type="hidden" id="twoStudentSpecialty" class="validate"></h4>
                                    <h4 style="text-align: left">院&emsp;系：<span th:text="${report.twoStudentDepartment}"></span><input type="hidden" id="twoStudentDepartment" class="validate"></h4>
                                    <h4 style="text-align: left">手机号：<span th:text="${report.twoStudentPhone}"></span><input type="hidden" id="twoStudentPhone" class="validate"></h4>
                                    <h4 style="text-align: left">邮&emsp;箱：<span th:text="${report.twoStudentEmail}"></span><input type="hidden" id="twoStudentEmail" class="validate"></h4>
                                    <h4 style="text-align: left">Q&emsp;&ensp;Q： <span th:text="${report.twoStudentQq}"></span><input type="hidden" id="twoStudentQq" class="validate"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer><p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                                     href="https://www.baidu.com">云中央制作小组</a>
                </p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>

    </div>
    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/materialize/js/materialize.min.js}"></script>
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{/assets/js/morris/morris.js}"></script>
    <script th:src="@{/assets/js/easypiechart.js}"></script>
    <script th:src="@{/assets/js/easypiechart-data.js}"></script>
    <script th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
    <script th:src="@{/assets/js/custom-scripts.js}"></script>
</body>
</html>

</body>
</html>