<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>报名审批</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link th:href="@{/assets/materialize/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>
    <!--<link th:href="@{/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet"/>-->
    <link th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/assets/js/Lightweight-Chart/cssCharts.css}" rel="stylesheet">
    <style>
        .inputH5 h4{
            margin: 15px auto;
        }
        .inputH5 input{
            width: 400px;
            margin-bottom: -13px;
        }
    </style>
</head>
<body>
<!--TODO detailModal-->
<div style="width: 600px" class="modal fade" id="detailModal"
     tabindex="-1"
     role="dialog" aria-labelledby="detailModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button  type="button" class="btn btn-info" onclick="edit()" id="edit">编辑</button>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="" id="modalCloseRightTop">&times;</button>
                <h4 class="modal-title" id="modalTitle" style="text-align: center">标题</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-md-12 column inputH5">
                        <h4 style="text-align: left;color: green;">项目概览：</h4>
                        <input type="hidden" id="modalReportId" value="">
                        <h5 style="text-align: left">项目编号：<span></span><input type="hidden" id="worksNo" ></h5>
                        <h5 style="text-align: left">项目名称：<span></span><input type="hidden" id="worksName" ></h5>
                        <h5 style="text-align: left">项目状态：<span></span><input disabled type="hidden" id="reportStatus" ></h5>
                        <h5 style="text-align: left">申请时间：<span></span><input disabled type="hidden" id="createTime" ></h5>
                        <h5 style="text-align: left">更新时间：<span></span><input disabled type="hidden" id="updateTime" ></h5>
                    </div>
                    <div class="col-md-12 column inputH5">
                        <h4 style="text-align: left;color: green;">指导老师:</h4>
                        <h5 style="text-align: left">姓&emsp;名：<span></span><input type="hidden" id="teacherName" ></h5>
                        <h5 style="text-align: left">院&emsp;系：<span></span><input type="hidden" id="teacherDepartment" ></h5>
                        <h5 style="text-align: left">手机号：<span></span><input type="hidden" id="teacherPhone" ></h5>
                        <h5 style="text-align: left">邮&emsp;箱：<span></span><input type="hidden" id="teacherEmail" ></h5>
                        <h5 style="text-align: left">Q&emsp;&ensp;Q：<span></span><input type="hidden" id="teacherQq" ></h5>
                    </div>
                    <div class="col-md-12 column inputH5">
                        <h4 style="text-align: left;color: green;">项目负责人:</h4>
                        <h5 style="text-align: left">学&emsp;号：<span></span><input type="hidden" id="mainStudentNo" ></h5>
                        <h5 style="text-align: left">姓&emsp;名：<span></span><input type="hidden" id="mainStudentName" ></h5>
                        <h5 style="text-align: left">年&emsp;级：<span></span><input type="hidden" id="mainStudentGrade" ></h5>
                        <h5 style="text-align: left">专&emsp;业：<span></span><input type="hidden" id="mainStudentSpecialty" ></h5>
                        <h5 style="text-align: left">院&emsp;系：<span></span><input type="hidden" id="mainStudentDepartment" ></h5>
                        <h5 style="text-align: left">手机号：<span></span><input type="hidden" id="mainStudentPhone" ></h5>
                        <h5 style="text-align: left">邮&emsp;箱：<span></span><input type="hidden" id="mainStudentEmail" ></h5>
                        <h5 style="text-align: left">Q&emsp;&ensp;Q：<span></span><input type="hidden" id="mainStudentQq" ></h5>
                    </div>
                    <div class="col-md-12 column inputH5">
                        <h4 style="text-align: left;color: green;">学生成员:</h4>
                        <h5 style="text-align: left">学&emsp;号：<span></span><input type="hidden" id="oneStudentNo" ></h5>
                        <h5 style="text-align: left">姓&emsp;名：<span></span><input type="hidden" id="oneStudentName" ></h5>
                        <h5 style="text-align: left">年&emsp;级：<span></span><input type="hidden" id="oneStudentGrade" ></h5>
                        <h5 style="text-align: left">专&emsp;业：<span></span><input type="hidden" id="oneStudentSpecialty" ></h5>
                        <h5 style="text-align: left">院&emsp;系：<span></span><input type="hidden" id="oneStudentDepartment" ></h5>
                        <h5 style="text-align: left">手机号：<span></span><input type="hidden" id="oneStudentPhone" ></h5>
                        <h5 style="text-align: left">邮&emsp;箱：<span></span><input type="hidden" id="oneStudentEmail" ></h5>
                        <h5 style="text-align: left">Q&emsp;&ensp;Q：<span></span><input type="hidden" id="oneStudentQq" ></h5>
                    </div>
                    <div class="col-md-12 column inputH5">
                        <h4 style="text-align: left;color: green;">学生成员:</h4>
                        <h5 style="text-align: left">学&emsp;号：<span></span><input type="hidden" id="twoStudentNo" ></h5>
                        <h5 style="text-align: left">姓&emsp;名：<span></span><input type="hidden" id="twoStudentName" ></h5>
                        <h5 style="text-align: left">年&emsp;级：<span></span><input type="hidden" id="twoStudentGrade" ></h5>
                        <h5 style="text-align: left">专&emsp;业：<span></span><input type="hidden" id="twoStudentSpecialty" ></h5>
                        <h5 style="text-align: left">院&emsp;系：<span></span><input type="hidden" id="twoStudentDepartment" ></h5>
                        <h5 style="text-align: left">手机号：<span></span><input type="hidden" id="twoStudentPhone" ></h5>
                        <h5 style="text-align: left">邮&emsp;箱：<span></span><input type="hidden" id="twoStudentEmail" ></h5>
                        <h5 style="text-align: left">Q&emsp;&ensp;Q：<span></span><input type="hidden" id="twoStudentQq" ></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalClose" style="margin-left: 5px" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="modalCheck" type="button" class="btn btn-danger" data-dismiss="modal" onclick="">拒绝</button>
                <button id="modalPass" type="button" class="btn btn-primary" data-dismiss="modal" onclick="">通过</button>
            </div>
        </div>
    </div>
</div>


<div id="wrapper">
    <div th:include="web-model::top"></div>
    <div th:include="web-model::left"></div>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                            <i style="cursor:pointer;" class="tooltipped material-icons" data-position="right" data-delay="50"
                               data-tooltip="审核通过后，自动开通账户。账号：项目负责人学号，密码：123456">info_outline</i>
                            <img style="width: 25px;height: 25px;margin-right: 10px;float: right;cursor:pointer;" th:onclick="'exportExcel('+${status}+')'" class="tooltipped" data-delay="50" data-tooltip="导出excel" data-position="top" th:src="@{/assets/img/excel.png}"/>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th class="center">报名申请</th>
                                        <th class="center">项目编号</th>
                                        <th class="center">项目名称</th>
                                        <th class="center">项目状态</th>
                                        <th class="center">负责人姓名</th>
                                        <th class="center">指导老师姓名</th>
                                        <th class="center">项目成员</th>
                                        <th class="center">分院</th>
                                        <th class="center">申请时间</th>
                                        <th class="center">更新时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="report:${reportList}">
                                        <th class="center">
                                            <i th:if="${status} eq '0'" style="cursor:pointer;"
                                               class="material-icons tooltipped"
                                               th:onclick="'setStatus('+${report.reportId}+',1,this)'"
                                               th:id="${report.reportId}+'Pass'"
                                               data-position="top" data-delay="50"
                                               data-tooltip="通过">check</i>
                                            <i th:if="${status} eq '0'" style="cursor:pointer;"
                                               class="material-icons tooltipped"
                                               th:onclick="'setStatus('+${report.reportId}+',2,this)'"
                                               th:id="${report.reportId}+'Check'"
                                               data-position="top" data-delay="50"
                                               data-tooltip="驳回">close</i>
                                            <i style="cursor:pointer;"
                                               class="material-icons tooltipped"
                                               data-position="top" data-delay="50"
                                               data-tooltip="详情" data-toggle="modal" data-target="#detailModal"
                                               th:onclick="'road('+${report.reportId}+')'">description</i>
                                        </th>
                                        <th class="center" th:text="${report.worksNo}">项目编号</th>
                                        <th class="center" th:text="${report.worksName}">项目名称</th>
                                        <th class="center" th:if="${report.reportStatus} eq 0">待审核</th>
                                        <th class="center" th:if="${report.reportStatus} eq 1">已通过</th>
                                        <th class="center" th:if="${report.reportStatus} eq 2">未通过</th>
                                        <th class="center" th:if="${report.reportStatus} eq 3">已删除</th>
                                        <th class="center" th:text="${report.mainStudentName}">负责人姓名</th>
                                        <th class="center" th:text="${report.teacherName}">指导老师姓名</th>
                                        <th class="center" th:text="${report.oneStudentName+' '+report.twoStudentName}">
                                            项目成员
                                        </th>
                                        <th class="center" th:text="${report.mainStudentDepartment}">分院</th>
                                        <th class="center" th:text="${#dates.format(report.createTime, 'yyyy-MM-dd HH:mm:ss')}">申请时间</th>
                                        <th class="center" th:text="${#dates.format(report.updateTime, 'yyyy-MM-dd HH:mm:ss')}">更新时间</th>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer><p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                                 href="https://www.baidu.com">云中央制作小组</a>
            </p></footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
</div>
<script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/materialize/js/materialize.min.js}"></script>
<script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{/assets/js/morris/morris.js}"></script>
<script th:src="@{/assets/js/easypiechart.js}"></script>
<script th:src="@{/assets/js/easypiechart-data.js}"></script>
<script th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
<script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<script th:src="@{/assets/js/custom-scripts.js}"></script>
<script th:src="@{/assets/js/report-table.js}"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>

</body>
</html>
