<!DOCTYPE html>
<html  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 基本表单</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/materialize/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>

    <!--<link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/assets/js/Lightweight-Chart/cssCharts.css}" rel="stylesheet">-->
    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <!--<script th:src="@{/assets/js/bootstrap.min.js}"></script>-->
    <script th:src="@{/assets/materialize/js/materialize.min.js}"></script>
    <!--<script th:src="@{/assets/js/jquery.metisMenu.js}"></script>-->
    <!--<script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>-->
    <!--<script th:src="@{/assets/js/morris/morris.js}"></script>-->
    <!--<script th:src="@{/assets/js/easypiechart.js}"></script>-->
    <!--<script th:src="@{/assets/js/easypiechart-data.js}"></script>-->
    <!--<script th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>-->
    <!--<script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>-->
    <!--<script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>-->
    <!--<script th:src="@{/assets/js/custom-scripts.js}"></script>-->
    <!--<script th:src="@{/assets/js/report-table.js}"></script>-->

</head>
<body>
<div class="row">
    <form class="col s12" th:action="@{/login}" method="post" id="loginForm">
        <div class="row">
            <div class="input-field col s12">
                <img th:src="@{/assets/img/account.png}" class="prefix" alt="账号" style="width: 30px;height:30px;bottom: 20px">
                <input id="username" type="text" class="validate" name="username" onblur="loginVerifyLoginName()">
                <label for="username" data-error="wrong" data-success="right">用户名</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <!--<i class="material-icons prefix">mode_edit</i>-->
                <img th:src="@{/assets/img/password.png}" class="prefix" alt="密码" style="width: 30px; height:30px;bottom: 20px">
                <input id="password" type="password" class="validate" name="password" onblur="loginVerifyPassword()">
                <label for="password" data-error="wrong" data-success="right">密码</label>
            </div>
        </div>
        <div class="row">
            <p style="padding-left: 14px;">
                <input type="checkbox" id="rememberMe" name="rememberMe" />
                <label for="rememberMe">记住我!</label>
            </p>
            <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px"
                    onclick="login()">现在登录
            </button>
        </div>
    </form>
</div>

</body>
</html>