<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.competition.dao.mapper.ReportMapper">
  <resultMap id="BaseResultMap" type="com.example.competition.dao.model.Report">
    <id column="report_id" jdbcType="INTEGER" property="reportId" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="main_student_no" jdbcType="VARCHAR" property="mainStudentNo" />
    <result column="main_student_name" jdbcType="VARCHAR" property="mainStudentName" />
    <result column="main_student_specialty" jdbcType="VARCHAR" property="mainStudentSpecialty" />
    <result column="main_student_phone" jdbcType="VARCHAR" property="mainStudentPhone" />
    <result column="main_student_email" jdbcType="VARCHAR" property="mainStudentEmail" />
    <result column="main_student_department" jdbcType="VARCHAR" property="mainStudentDepartment" />
    <result column="main_student_grade" jdbcType="VARCHAR" property="mainStudentGrade" />
    <result column="main_student_qq" jdbcType="VARCHAR" property="mainStudentQq" />
    <result column="one_student_no" jdbcType="VARCHAR" property="oneStudentNo" />
    <result column="one_student_name" jdbcType="VARCHAR" property="oneStudentName" />
    <result column="one_student_specialty" jdbcType="VARCHAR" property="oneStudentSpecialty" />
    <result column="one_student_phone" jdbcType="VARCHAR" property="oneStudentPhone" />
    <result column="one_student_email" jdbcType="VARCHAR" property="oneStudentEmail" />
    <result column="one_student_department" jdbcType="VARCHAR" property="oneStudentDepartment" />
    <result column="one_student_grade" jdbcType="VARCHAR" property="oneStudentGrade" />
    <result column="one_student_qq" jdbcType="VARCHAR" property="oneStudentQq" />
    <result column="two_student_no" jdbcType="VARCHAR" property="twoStudentNo" />
    <result column="two_student_name" jdbcType="VARCHAR" property="twoStudentName" />
    <result column="two_student_specialty" jdbcType="VARCHAR" property="twoStudentSpecialty" />
    <result column="two_student_phone" jdbcType="VARCHAR" property="twoStudentPhone" />
    <result column="two_student_email" jdbcType="VARCHAR" property="twoStudentEmail" />
    <result column="two_student_department" jdbcType="VARCHAR" property="twoStudentDepartment" />
    <result column="two_student_grade" jdbcType="VARCHAR" property="twoStudentGrade" />
    <result column="two_student_qq" jdbcType="VARCHAR" property="twoStudentQq" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacher_phone" jdbcType="VARCHAR" property="teacherPhone" />
    <result column="teacher_email" jdbcType="VARCHAR" property="teacherEmail" />
    <result column="teacher_department" jdbcType="VARCHAR" property="teacherDepartment" />
    <result column="teacher_qq" jdbcType="VARCHAR" property="teacherQq" />
    <result column="works_no" jdbcType="VARCHAR" property="worksNo" />
    <result column="works_name" jdbcType="VARCHAR" property="worksName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    report_id, report_status, main_student_no, main_student_name, main_student_specialty, 
    main_student_phone, main_student_email, main_student_department, main_student_grade, 
    main_student_qq, one_student_no, one_student_name, one_student_specialty, one_student_phone, 
    one_student_email, one_student_department, one_student_grade, one_student_qq, two_student_no, 
    two_student_name, two_student_specialty, two_student_phone, two_student_email, two_student_department, 
    two_student_grade, two_student_qq, teacher_name, teacher_phone, teacher_email, teacher_department, 
    teacher_qq, works_no, works_name, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.example.competition.dao.model.ReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.competition.dao.model.ReportExample">
    delete from report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.competition.dao.model.Report">
    insert into report (report_id, report_status, main_student_no, 
      main_student_name, main_student_specialty, 
      main_student_phone, main_student_email, main_student_department, 
      main_student_grade, main_student_qq, one_student_no, 
      one_student_name, one_student_specialty, one_student_phone, 
      one_student_email, one_student_department, 
      one_student_grade, one_student_qq, two_student_no, 
      two_student_name, two_student_specialty, two_student_phone, 
      two_student_email, two_student_department, 
      two_student_grade, two_student_qq, teacher_name, 
      teacher_phone, teacher_email, teacher_department, 
      teacher_qq, works_no, works_name, 
      create_time, update_time)
    values (#{reportId,jdbcType=INTEGER}, #{reportStatus,jdbcType=INTEGER}, #{mainStudentNo,jdbcType=VARCHAR}, 
      #{mainStudentName,jdbcType=VARCHAR}, #{mainStudentSpecialty,jdbcType=VARCHAR}, 
      #{mainStudentPhone,jdbcType=VARCHAR}, #{mainStudentEmail,jdbcType=VARCHAR}, #{mainStudentDepartment,jdbcType=VARCHAR}, 
      #{mainStudentGrade,jdbcType=VARCHAR}, #{mainStudentQq,jdbcType=VARCHAR}, #{oneStudentNo,jdbcType=VARCHAR}, 
      #{oneStudentName,jdbcType=VARCHAR}, #{oneStudentSpecialty,jdbcType=VARCHAR}, #{oneStudentPhone,jdbcType=VARCHAR}, 
      #{oneStudentEmail,jdbcType=VARCHAR}, #{oneStudentDepartment,jdbcType=VARCHAR}, 
      #{oneStudentGrade,jdbcType=VARCHAR}, #{oneStudentQq,jdbcType=VARCHAR}, #{twoStudentNo,jdbcType=VARCHAR}, 
      #{twoStudentName,jdbcType=VARCHAR}, #{twoStudentSpecialty,jdbcType=VARCHAR}, #{twoStudentPhone,jdbcType=VARCHAR}, 
      #{twoStudentEmail,jdbcType=VARCHAR}, #{twoStudentDepartment,jdbcType=VARCHAR}, 
      #{twoStudentGrade,jdbcType=VARCHAR}, #{twoStudentQq,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, 
      #{teacherPhone,jdbcType=VARCHAR}, #{teacherEmail,jdbcType=VARCHAR}, #{teacherDepartment,jdbcType=VARCHAR}, 
      #{teacherQq,jdbcType=VARCHAR}, #{worksNo,jdbcType=VARCHAR}, #{worksName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.competition.dao.model.Report">
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportId != null">
        report_id,
      </if>
      <if test="reportStatus != null">
        report_status,
      </if>
      <if test="mainStudentNo != null">
        main_student_no,
      </if>
      <if test="mainStudentName != null">
        main_student_name,
      </if>
      <if test="mainStudentSpecialty != null">
        main_student_specialty,
      </if>
      <if test="mainStudentPhone != null">
        main_student_phone,
      </if>
      <if test="mainStudentEmail != null">
        main_student_email,
      </if>
      <if test="mainStudentDepartment != null">
        main_student_department,
      </if>
      <if test="mainStudentGrade != null">
        main_student_grade,
      </if>
      <if test="mainStudentQq != null">
        main_student_qq,
      </if>
      <if test="oneStudentNo != null">
        one_student_no,
      </if>
      <if test="oneStudentName != null">
        one_student_name,
      </if>
      <if test="oneStudentSpecialty != null">
        one_student_specialty,
      </if>
      <if test="oneStudentPhone != null">
        one_student_phone,
      </if>
      <if test="oneStudentEmail != null">
        one_student_email,
      </if>
      <if test="oneStudentDepartment != null">
        one_student_department,
      </if>
      <if test="oneStudentGrade != null">
        one_student_grade,
      </if>
      <if test="oneStudentQq != null">
        one_student_qq,
      </if>
      <if test="twoStudentNo != null">
        two_student_no,
      </if>
      <if test="twoStudentName != null">
        two_student_name,
      </if>
      <if test="twoStudentSpecialty != null">
        two_student_specialty,
      </if>
      <if test="twoStudentPhone != null">
        two_student_phone,
      </if>
      <if test="twoStudentEmail != null">
        two_student_email,
      </if>
      <if test="twoStudentDepartment != null">
        two_student_department,
      </if>
      <if test="twoStudentGrade != null">
        two_student_grade,
      </if>
      <if test="twoStudentQq != null">
        two_student_qq,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="teacherPhone != null">
        teacher_phone,
      </if>
      <if test="teacherEmail != null">
        teacher_email,
      </if>
      <if test="teacherDepartment != null">
        teacher_department,
      </if>
      <if test="teacherQq != null">
        teacher_qq,
      </if>
      <if test="worksNo != null">
        works_no,
      </if>
      <if test="worksName != null">
        works_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportId != null">
        #{reportId,jdbcType=INTEGER},
      </if>
      <if test="reportStatus != null">
        #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="mainStudentNo != null">
        #{mainStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentName != null">
        #{mainStudentName,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentSpecialty != null">
        #{mainStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentPhone != null">
        #{mainStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentEmail != null">
        #{mainStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentDepartment != null">
        #{mainStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentGrade != null">
        #{mainStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentQq != null">
        #{mainStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentNo != null">
        #{oneStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentName != null">
        #{oneStudentName,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentSpecialty != null">
        #{oneStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentPhone != null">
        #{oneStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentEmail != null">
        #{oneStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentDepartment != null">
        #{oneStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentGrade != null">
        #{oneStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentQq != null">
        #{oneStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentNo != null">
        #{twoStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentName != null">
        #{twoStudentName,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentSpecialty != null">
        #{twoStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentPhone != null">
        #{twoStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentEmail != null">
        #{twoStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentDepartment != null">
        #{twoStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentGrade != null">
        #{twoStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentQq != null">
        #{twoStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null">
        #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null">
        #{teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="teacherDepartment != null">
        #{teacherDepartment,jdbcType=VARCHAR},
      </if>
      <if test="teacherQq != null">
        #{teacherQq,jdbcType=VARCHAR},
      </if>
      <if test="worksNo != null">
        #{worksNo,jdbcType=VARCHAR},
      </if>
      <if test="worksName != null">
        #{worksName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.competition.dao.model.ReportExample" resultType="java.lang.Long">
    select count(*) from report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update report
    <set>
      <if test="record.reportId != null">
        report_id = #{record.reportId,jdbcType=INTEGER},
      </if>
      <if test="record.reportStatus != null">
        report_status = #{record.reportStatus,jdbcType=INTEGER},
      </if>
      <if test="record.mainStudentNo != null">
        main_student_no = #{record.mainStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentName != null">
        main_student_name = #{record.mainStudentName,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentSpecialty != null">
        main_student_specialty = #{record.mainStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentPhone != null">
        main_student_phone = #{record.mainStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentEmail != null">
        main_student_email = #{record.mainStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentDepartment != null">
        main_student_department = #{record.mainStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentGrade != null">
        main_student_grade = #{record.mainStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.mainStudentQq != null">
        main_student_qq = #{record.mainStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentNo != null">
        one_student_no = #{record.oneStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentName != null">
        one_student_name = #{record.oneStudentName,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentSpecialty != null">
        one_student_specialty = #{record.oneStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentPhone != null">
        one_student_phone = #{record.oneStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentEmail != null">
        one_student_email = #{record.oneStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentDepartment != null">
        one_student_department = #{record.oneStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentGrade != null">
        one_student_grade = #{record.oneStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.oneStudentQq != null">
        one_student_qq = #{record.oneStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentNo != null">
        two_student_no = #{record.twoStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentName != null">
        two_student_name = #{record.twoStudentName,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentSpecialty != null">
        two_student_specialty = #{record.twoStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentPhone != null">
        two_student_phone = #{record.twoStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentEmail != null">
        two_student_email = #{record.twoStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentDepartment != null">
        two_student_department = #{record.twoStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentGrade != null">
        two_student_grade = #{record.twoStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.twoStudentQq != null">
        two_student_qq = #{record.twoStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null">
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherPhone != null">
        teacher_phone = #{record.teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherEmail != null">
        teacher_email = #{record.teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherDepartment != null">
        teacher_department = #{record.teacherDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherQq != null">
        teacher_qq = #{record.teacherQq,jdbcType=VARCHAR},
      </if>
      <if test="record.worksNo != null">
        works_no = #{record.worksNo,jdbcType=VARCHAR},
      </if>
      <if test="record.worksName != null">
        works_name = #{record.worksName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update report
    set report_id = #{record.reportId,jdbcType=INTEGER},
      report_status = #{record.reportStatus,jdbcType=INTEGER},
      main_student_no = #{record.mainStudentNo,jdbcType=VARCHAR},
      main_student_name = #{record.mainStudentName,jdbcType=VARCHAR},
      main_student_specialty = #{record.mainStudentSpecialty,jdbcType=VARCHAR},
      main_student_phone = #{record.mainStudentPhone,jdbcType=VARCHAR},
      main_student_email = #{record.mainStudentEmail,jdbcType=VARCHAR},
      main_student_department = #{record.mainStudentDepartment,jdbcType=VARCHAR},
      main_student_grade = #{record.mainStudentGrade,jdbcType=VARCHAR},
      main_student_qq = #{record.mainStudentQq,jdbcType=VARCHAR},
      one_student_no = #{record.oneStudentNo,jdbcType=VARCHAR},
      one_student_name = #{record.oneStudentName,jdbcType=VARCHAR},
      one_student_specialty = #{record.oneStudentSpecialty,jdbcType=VARCHAR},
      one_student_phone = #{record.oneStudentPhone,jdbcType=VARCHAR},
      one_student_email = #{record.oneStudentEmail,jdbcType=VARCHAR},
      one_student_department = #{record.oneStudentDepartment,jdbcType=VARCHAR},
      one_student_grade = #{record.oneStudentGrade,jdbcType=VARCHAR},
      one_student_qq = #{record.oneStudentQq,jdbcType=VARCHAR},
      two_student_no = #{record.twoStudentNo,jdbcType=VARCHAR},
      two_student_name = #{record.twoStudentName,jdbcType=VARCHAR},
      two_student_specialty = #{record.twoStudentSpecialty,jdbcType=VARCHAR},
      two_student_phone = #{record.twoStudentPhone,jdbcType=VARCHAR},
      two_student_email = #{record.twoStudentEmail,jdbcType=VARCHAR},
      two_student_department = #{record.twoStudentDepartment,jdbcType=VARCHAR},
      two_student_grade = #{record.twoStudentGrade,jdbcType=VARCHAR},
      two_student_qq = #{record.twoStudentQq,jdbcType=VARCHAR},
      teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      teacher_phone = #{record.teacherPhone,jdbcType=VARCHAR},
      teacher_email = #{record.teacherEmail,jdbcType=VARCHAR},
      teacher_department = #{record.teacherDepartment,jdbcType=VARCHAR},
      teacher_qq = #{record.teacherQq,jdbcType=VARCHAR},
      works_no = #{record.worksNo,jdbcType=VARCHAR},
      works_name = #{record.worksName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.competition.dao.model.Report">
    update report
    <set>
      <if test="reportStatus != null">
        report_status = #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="mainStudentNo != null">
        main_student_no = #{mainStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentName != null">
        main_student_name = #{mainStudentName,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentSpecialty != null">
        main_student_specialty = #{mainStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentPhone != null">
        main_student_phone = #{mainStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentEmail != null">
        main_student_email = #{mainStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentDepartment != null">
        main_student_department = #{mainStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentGrade != null">
        main_student_grade = #{mainStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="mainStudentQq != null">
        main_student_qq = #{mainStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentNo != null">
        one_student_no = #{oneStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentName != null">
        one_student_name = #{oneStudentName,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentSpecialty != null">
        one_student_specialty = #{oneStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentPhone != null">
        one_student_phone = #{oneStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentEmail != null">
        one_student_email = #{oneStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentDepartment != null">
        one_student_department = #{oneStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentGrade != null">
        one_student_grade = #{oneStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="oneStudentQq != null">
        one_student_qq = #{oneStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentNo != null">
        two_student_no = #{twoStudentNo,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentName != null">
        two_student_name = #{twoStudentName,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentSpecialty != null">
        two_student_specialty = #{twoStudentSpecialty,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentPhone != null">
        two_student_phone = #{twoStudentPhone,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentEmail != null">
        two_student_email = #{twoStudentEmail,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentDepartment != null">
        two_student_department = #{twoStudentDepartment,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentGrade != null">
        two_student_grade = #{twoStudentGrade,jdbcType=VARCHAR},
      </if>
      <if test="twoStudentQq != null">
        two_student_qq = #{twoStudentQq,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null">
        teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherEmail != null">
        teacher_email = #{teacherEmail,jdbcType=VARCHAR},
      </if>
      <if test="teacherDepartment != null">
        teacher_department = #{teacherDepartment,jdbcType=VARCHAR},
      </if>
      <if test="teacherQq != null">
        teacher_qq = #{teacherQq,jdbcType=VARCHAR},
      </if>
      <if test="worksNo != null">
        works_no = #{worksNo,jdbcType=VARCHAR},
      </if>
      <if test="worksName != null">
        works_name = #{worksName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.competition.dao.model.Report">
    update report
    set report_status = #{reportStatus,jdbcType=INTEGER},
      main_student_no = #{mainStudentNo,jdbcType=VARCHAR},
      main_student_name = #{mainStudentName,jdbcType=VARCHAR},
      main_student_specialty = #{mainStudentSpecialty,jdbcType=VARCHAR},
      main_student_phone = #{mainStudentPhone,jdbcType=VARCHAR},
      main_student_email = #{mainStudentEmail,jdbcType=VARCHAR},
      main_student_department = #{mainStudentDepartment,jdbcType=VARCHAR},
      main_student_grade = #{mainStudentGrade,jdbcType=VARCHAR},
      main_student_qq = #{mainStudentQq,jdbcType=VARCHAR},
      one_student_no = #{oneStudentNo,jdbcType=VARCHAR},
      one_student_name = #{oneStudentName,jdbcType=VARCHAR},
      one_student_specialty = #{oneStudentSpecialty,jdbcType=VARCHAR},
      one_student_phone = #{oneStudentPhone,jdbcType=VARCHAR},
      one_student_email = #{oneStudentEmail,jdbcType=VARCHAR},
      one_student_department = #{oneStudentDepartment,jdbcType=VARCHAR},
      one_student_grade = #{oneStudentGrade,jdbcType=VARCHAR},
      one_student_qq = #{oneStudentQq,jdbcType=VARCHAR},
      two_student_no = #{twoStudentNo,jdbcType=VARCHAR},
      two_student_name = #{twoStudentName,jdbcType=VARCHAR},
      two_student_specialty = #{twoStudentSpecialty,jdbcType=VARCHAR},
      two_student_phone = #{twoStudentPhone,jdbcType=VARCHAR},
      two_student_email = #{twoStudentEmail,jdbcType=VARCHAR},
      two_student_department = #{twoStudentDepartment,jdbcType=VARCHAR},
      two_student_grade = #{twoStudentGrade,jdbcType=VARCHAR},
      two_student_qq = #{twoStudentQq,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      teacher_email = #{teacherEmail,jdbcType=VARCHAR},
      teacher_department = #{teacherDepartment,jdbcType=VARCHAR},
      teacher_qq = #{teacherQq,jdbcType=VARCHAR},
      works_no = #{worksNo,jdbcType=VARCHAR},
      works_name = #{worksName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
</mapper>